.mat-checkbox-background, .mat-checkbox-frame {
  border-radius: 70% !important;
}

.grocery-item {
  width: 100%;
  height: 40px;
  border-radius: 0 !important;
  box-shadow: none !important;
}

.checked-text {
  text-decoration: line-through;
  color: rgba($color: #000000, $alpha: 0.5);
}

