<mat-divider></mat-divider>
<mat-card
[@checkedState]="grocery.checked ? 'checked' : 'unchecked'"
[id]="grocery.id"
class="flex justify-between items-center shadow-none h-12"
>

  <div class="left flex align-middle" (click)="toggleChecked()">
    <mat-icon
    color="primary">
    {{ checkIcon }}
  </mat-icon>
    <span class="mt-0.5 ml-2" [ngClass]="{'line-through': grocery.checked}">
      {{ grocery.product.charAt(0).toUpperCase() + grocery.product.slice(1) }} - {{ grocery.quantity }}
    </span>
  </div>
  <div class="right" *ngIf="!grocery.checked">
    <mat-icon color="accent" (click)="edit()">edit</mat-icon>
    <mat-icon color="warn" (click)="delete()">delete</mat-icon>
  </div>
</mat-card>


