<div class="app-container h-screen">
  <app-header (showSideNav)="toggleSideNav()"></app-header>
  <mat-sidenav-container class="h-[93%]"  (backdropClick)="toggleSideNav()">
      <mat-sidenav class="bg-primary w-1/2" autoFocus="false" mode="push" [opened]="showSideNav">
        <div class="h-full flex flex-col justify-between pt-8">
          <div class="ml-4">
            <h3 class="text-lg text-white">Minhas Listas</h3>
            <ul class="text-white space-y-2">
              <li
              class="text-sm hover:underline transition-all"
              [ngClass]="{'text-accent ml-4': selectedList == list}"
              *ngFor="let list of lists$ | async">
              <a href="#" (click)="selectList(list)">{{ list }}</a>
              </li>
            </ul>
          </div>
          <div class="flex flex-wrap justify-center items-center space-y-2 pb-8 w-full">
            <div class="flex space-x-1 justify-center items-center">
              <button *ngIf="selectedList != loadedList"
              mat-raised-button
              (click)="loadList()"
              class="font-inter text-white bg-green-500 text-md pt-1 pb-1 w-[48%]">Carregar</button>
              <button *ngIf="selectedList"
              mat-raised-button color="warn"
              (click)="removeList()"
              class="font-inter text-white text-md pt-1 pb-1 w-[48%] flex-grow">Remover</button>
            </div>
            <button mat-raised-button color="accent"
            (click)="addList()"
            class="font-inter text-primary text-md pt-1 pb-1 w-[96%]">Nova Lista</button>
          </div>
        </div>


      </mat-sidenav>
      <mat-sidenav-content>

        <app-home></app-home>

      </mat-sidenav-content>
    </mat-sidenav-container>

    <mat-progress-spinner *ngIf="loading$ | async" [mode]="'indeterminate'"></mat-progress-spinner>
</div>


