.app-container {
  width: 375px;
}

mat-sidenav {
  background-color: #673AB7 !important;
  width: 70%;
}

mat-sidenav-container {
  height: 100vh;
}

.mat-drawer-backdrop.mat-drawer-shown {
  background-color: rgba(0, 0, 0, 0);
}

mat-progress-spinner{
  position: absolute;
  left: 50%;
  transform: translate(-50%, -400%);
  z-index: 5;
}

.sidenav-list {
  list-style-type: none;
  padding-inline-start: 16px;
}

.sidenav-list a {
  text-decoration: none;
  color: white;
}

.sidenav-list a:hover {
  text-decoration: underline;
}



