.app-container {
  width: 375px;
}

mat-sidenav {
  background-color: #673AB7 !important;
  width: 70%;
}

mat-sidenav-container {
  height: 100vh;
}

.mat-drawer-backdrop.mat-drawer-shown {
  background-color: rgba(0, 0, 0, 0);
}

mat-progress-spinner{
  position: absolute;
  left: 50%;
  transform: translate(-50%, -400%);
  z-index: 5;
}

.sidenav-list {
  list-style-type: none;
  padding-inline-start: 16px;
}

.sidenav-list a {
  text-decoration: none;
  color: white;
}

.sidenav-list a:hover {
  text-decoration: underline;
}

.mat-expansion-panel-body {
  padding: 0px !important;
  margin: 0px 16px 8px 16px !important;
}

.mat-expansion-panel-spacing {
  margin: 0 !important;
}

mat-panel-title mat-icon {
  margin-right: 8px;
}

.add-button {
  position: fixed !important;
  width: 48px !important;
  height: 48px !important;
  top: 90%;
  left: 80%;
  z-index: 5;
}


