<div class="app-container">
  <app-header (showSideNav)="toggleSideNav()"></app-header>
    <mat-sidenav-container  (backdropClick)="toggleSideNav()">
      <mat-sidenav autoFocus="false" mode="push" [opened]="showSideNav">
        <div fxLayout="column" fxLayoutGap="-16px">
          <ul class="sidenav-list">
            <li><a href="#">LADO ESQUERDO</a></li>
          </ul>
        </div>
      </mat-sidenav>
      <mat-sidenav-content>

        <app-home></app-home>

      </mat-sidenav-content>
    </mat-sidenav-container>

    <mat-progress-spinner *ngIf="loading$ | async" [mode]="'indeterminate'"></mat-progress-spinner>
</div>


