<div class="app-container">
  <app-header (showSideNav)="toggleSideNav()"></app-header>
    <mat-sidenav-container class="h-screen"  (backdropClick)="toggleSideNav()">
      <mat-sidenav class="bg-white w-1/2" autoFocus="false" mode="push" [opened]="showSideNav">
        <div>
          <h3 class="text-md text-black mt-6 ml-4">Minhas Listas</h3>
          <ul class="ml-4 text-black mt-4">
            <li
            class="text-sm hover:underline mb-4"
            *ngFor="let list of lists$ | async">
            <a href="#" (click)="selectList(list)">{{ list }}</a>
            </li>
          </ul>
        </div>
      </mat-sidenav>
      <mat-sidenav-content>

        <app-home></app-home>

      </mat-sidenav-content>
    </mat-sidenav-container>

    <mat-progress-spinner *ngIf="loading$ | async" [mode]="'indeterminate'"></mat-progress-spinner>
</div>


