
<mat-expansion-panel class="mb-0 mt-0">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon class="mr-4">spa</mat-icon>
        {{ category.charAt(0).toUpperCase() + category.slice(1) }}
      </mat-panel-title>
    </mat-expansion-panel-header>
          <app-grocery-item
          *ngFor="let grocery of groceries"
          [grocery]="grocery"
          (onEdit)="onEdit($event)"
          (onDelete)="onDelete($event)"
          >
          </app-grocery-item>
          <mat-divider></mat-divider>
</mat-expansion-panel>


