.mat-expansion-panel-body {
  padding: 0px !important;
  margin: 0px 16px 8px 16px !important;
}

.mat-expansion-panel-spacing {
  margin: 0 !important;
}

mat-panel-title mat-icon {
  margin-right: 8px;
}
