
<mat-expansion-panel class="mb-0 mt-0">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon class="mr-4" [ngClass]="icons.get(category)?.color" >{{ icons.get(category)?.icon }}</mat-icon>
        <div *ngIf="groceries" class=" w-full flex justify-between items-center">
          <span>{{ capitalizeWords(category) }}</span>
          <span class="text-gray-400 text-xs">
          {{ groceries.length }} {{ groceries.length > 1? 'itens' : 'item' }}
         </span>
        </div>
      </mat-panel-title>
    </mat-expansion-panel-header>
          <app-grocery-item
          *ngFor="let grocery of groceries"
          [grocery]="grocery"
          (onEdit)="onEdit($event)"
          (onDelete)="onDelete($event)"
          (onCheck)="onCheck($event)"
          >
          </app-grocery-item>
          <mat-divider></mat-divider>
</mat-expansion-panel>


