@import 'https://fonts.googleapis.com/icon?family=Material+Icons';

@tailwind base;
@tailwind components;
@tailwind utilities;



html, body { height: 100%; }
body {
  margin: 0;
  display: flex;
  justify-content: center;
}
* {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif !important;
}

.material-icons {
  font-family: 'Material Icons' !important;
}




