<h3 *ngIf="categories == undefined"
class="text-xl mt-8 ml-4">
<mat-icon class="text-black align-middle text-4xl h-8 w-8 -mt-2">arrow_left</mat-icon>
Selecione uma lista no menu.</h3>

<h3 *ngIf="categories?.length == 0"
class="text-xl  text-center mt-8">Sua lista está vazia.</h3>


<mat-accordion multi="false">

  <app-grocery-list *ngFor="let groceryList of groceries$ | async; trackBy: trackByFn"
  [category]="groceryList.category"
  [groceries]="groceryList.groceries"
  (edit)="edit($event)"
  (delete)="deleteGrocery($event)"
  (check)="updateGrocery($event)"
  ></app-grocery-list>

</mat-accordion>

<button *ngIf="categories != undefined" class="add-button fixed bottom-4 right-4" mat-mini-fab color="primary" (click)="add()">
  <mat-icon>add</mat-icon>
</button>
